@import '../../bower_components/bootstrap/less/bootstrap';
@import (less) '../../bower_components/magnific-popup/dist/magnific-popup.css';
@import '../../bower_components/toastr/toastr';

/* bootstrap override */
@font-family-base: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@text-color: #58666f;
@body-bg: #f0f3f4;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 220px;
  -webkit-font-smoothing: antialiased;
}

.navbar-default .navbar-brand {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  left: 60px;
}

.badge {
  color: #ffffff;
}

.badge-up {
  position: relative;
  top: -10px;
  padding: 2px 5px;
}

.badge-danger {
  background-color: red;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3b3f51;
  color: #fff;
}

.thumb-md {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.15);
  &:hover {
    border: 1px solid rgba(255,255,255,.3);
  }
}

.bold {
  font-size: 30px;
  font-weight: 700;
}

.thumbnail {
  background-color: #fff;
  border-radius: 2px;
  padding: 0;
  border-color: #dee5e7;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.thumbnail img {
  padding: 6px;
  cursor: pointer;

  &:hover {
    background-color: @btn-info-bg;
  }

  &:active {
    position: relative;
    top: 2px;
  }
}

.btn-left {
  position: relative;
  display: inline-block;
  float: left;
}

.btn-right {
  position: relative;
  display: block;
  float: right;
}

.align-left {
  position: relative;
  left: 20px;
  top: -5px;
}

.align-right {
  position: relative;
  right: 20px;
  top: -5px;
}

.selected {
  background-color: @btn-info-bg;
}

label {
  width: 100%;
  height: 100%;
  font-size: 160px;
  line-height: 380px;
  cursor: pointer;
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
  font-family: "Varela Round", sans-serif;
  z-index: 9;
  &:hover {
    color: red;
  }
}

.centerBtn {
  position: relative;
  top: 150px;
  border-radius: 50%;
  border: 0px;
  &:hover {
    border: 3px solid red;
  }
}

.centerBtn img {
  width: 100%;
  height: 100%;
}

.downloadBtn {
  position: relative;
  top: 100px;
  border-radius: 50%;
  border: 0px;
  &:active {
    position: relative;
    top: 2px;
  }
}

.downloadBtn img {
  width: 100%;
  height: 100%;
}